* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0096c7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: #0056b3;
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 20px 8px 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  color: #090505;
}

.login-box input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 20%;
  padding: 12px;
  background: #ade8f4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #00b4d8;
}

.signout-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 12px 20px;
  background: rgb(74, 50, 205);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signout-btn:hover {
  background: #00b4d8;
}
